* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header {
  background-image: url("././vasilina-sirotina-EFHbtvK_Cb4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 80px

}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 250;
  font-size: 60px;
  color: #cce4cc;
  display: block;
}


nav {
  background-color: #464646;
  opacity: 70%;
  padding: 30px;
  position: sticky;
  top: 0;
  clear: both;

}
/* TODO: do i make nav section flex? */
nav ul { 
  list-style: none; 
  text-align: center;
  margin: 0; 
  padding: 0; 
} 

nav ul li { 
  display: inline-block; 
} 

nav ul li a { 
  display: block; 
  padding: 10px 50px;
  text-decoration: none; 
  color: #ff356e;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 250;
  font-size: 25px;
}

nav ul li a:hover {
  color: #3aff04;
  text-shadow: 16px 4px 25px #3aff04;
}

body {
  background-image: url("././vasilina-sirotina-EFHbtvK_Cb4-unsplash.jpg");
  max-width: 100%;
  background-color: #000000;
  background-size: cover;
  position: static;
  height: cover;
  background-position: center;

}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 150;
  font-size: 40px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#about-me-para {
  font-family: "Cormorant Garamond", Times, serif;
  font-size: 20px;

}

.about-me {
  background-color: rgba(0,0,0, 0.4);
  color: #cce4cc;
  display: flex;
  position: static;
  flex: 75%;
  height: 500px;
  width: 700px;
  padding: 40px;
  text-align: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}


#portfolio-para {
  font-family: "Cormorant Garamond", Times, serif;
  font-size: 20px;

}

.portfolio {
  background-color: rgba(0,0,0, 0.4);
  color: #cce4cc;
  display: flex;
  position: static;
  flex: 35%;
  height: 500px;
  width: 700px;
  padding: 40px;
  text-align: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#gallery-para {
  font-family: "Cormorant Garamond", Times, serif;
  font-size: 20px;

}

.gallery {
  background-color: rgba(0,0,0, 0.4);
  color: #cce4cc;
  display: flex;
  position: static;
  flex: 35%;
  height: 500px;
  width: 700px;
  padding: 40px;
  text-align: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}



aside {
  min-width: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  float: right;
  background-color: rgba(53, 74, 56, 0.58);
  padding: 30px;
  width: 25%;

}

h3.aside {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 35px;
  color: #cce4cc;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  word-wrap: break-word;
}

.aside-para {
  font-family: "Cormorant Garamond";
  font-size: 25px;
  color: #cce4cc;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  word-wrap: break-word;

}

footer {
  clear: both;
  display: block;
  background-color: #000000;
  text-align: center;
  padding: 10px;

}

.footer-contact {
  padding: 10px;
  font-family: "Josefin Sans";
  color: #ff356e;
}

.social-media img {
  padding: 4px;
  margin: 1em;
}

footer h3 {
  font-family: "Josefin Sans";
  font-weight: 200;
  font-size: 2em;
}

footer p {
  font-family: "Cormorant Garamond";
  font-weight: 150;
  font-size: 1.5em;
}

/* TODO: add media query for a max-width of 980px */

@media screen and (max-width: 768px) {
  .about-me, .portfolio, .gallery {
    flex: 50%;
  }
}

@media screen and (max-width: 980px) {
  .portfolio, .gallery {
    flex: 100%;
  }
}

@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
}